/* ========================================================

    Created on : Sep 2, 2014, 11:21:21 AM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)

======================================================== */

@mixin welcome-font {
   @include font-face("aboree", 
        font-files("kai/abeatbykairegular-webfont.eot", 
                   "kai/abeatbykairegular-webfont.svg", 
                   "kai/abeatbykairegular-webfont.ttf",
                   "kai/abeatbykairegular-webfont.woff"));
}

@mixin welcome-font-slogan {
   @include font-face("slogan", 
        font-files("quicksand_book-webfont.eot", 
                   "quicksand_book-webfont.svg", 
                   "quicksand_book-webfont.ttf", 
                   "quicksand_book-webfont.woff"));
}

@mixin welcome-font-alt {
   @include font-face("trimmedon", 
        font-files("wow/WorldofWater-Regular.ttf", 
                   "wow/WorldofWater-Regular.otf", 
                   "wow/WorldofWater-Regular.woff", 
                   "wow/WorldofWater-Regular.svg", 
                   "wow/WorldofWater-Regular.eot"));
}

@mixin icon-font {
   @include font-face("icon-font", 
        font-files("foundation-icons/foundation-icons.eot", 
                   "foundation-icons/foundation-icons.ttf", 
                   "foundation-icons/foundation-icons.woff", 
                   "foundation-icons/foundation-icons.svg"));
}

@mixin proximanova {
   @include font-face("body-font", 
        font-files("proximanova/proximanova-regular-webfont.eot", 
                   "proximanova/proximanova-regular-webfont.ttf", 
                   "proximanova/proximanova-regular-webfont.woff", 
                   "proximanova/proximanova-regular-webfont.svg"));
}