/*
Document   : footer
Created on : Sep 26, 2012, 11:25:40 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/

#footer {
    border-top: 5px solid $alt-color;
    /*border-top: 1px solid lighten($body-color, 55%);*/
    padding: 15px 0 20px;
    position: relative;
    bottom: 0;
    font-family: aboree;
    font-size: 14px;
    color: #777;
    @include clearfix;
    a {
        color: $anchor-color;
        text-decoration: none;
    }
    .menu {
        float: left;
        @include clearfix;
        ul {
            margin: 0;
            @include clearfix;
            li {
                display: block;
                float: left;
                margin: 0 10px;
                &.first-element {
                    margin-left: 0;
                }
                &.active {
                    a {
                        color: $anchor-color-hover;
                    }
                }
                a {
                    display: block;
                    @include transition(color .25s);
                    &:hover {
                        color: $anchor-color-hover;
                    }
                }
            }
        }
    }
    .logo {
        float: right;
        @include clearfix;
        .app-name {
            float: left;
            color: darken(#999, 25%);
        }
        .version-number {
            float: left;
            font-family: body-font;
            font-size: 10px;
            margin-left: 4px;
        }
    }
    .social-medias {
        margin: 30px 0;
        text-align: center;
        .icon {
            text-indent: -100000px;
            margin: 0 10px;
            @include inline-block;
            &.twitter {
                @include sprites('twitter');
            }
            &.facebook {
                @include sprites('facebook');
            }
        }
    }
    .age-limit {
        float: right;
        position: static;
        margin: 23px 0;
    }
    .copyright-and-madein-wrapper {
        font-size: 12px;
        text-align: center;
        margin: 50px 0 0;
        @include clearfix;
        .copyright,
        .made-in-sofia {
            line-height: 1em;
            @include inline-block;
        }
        .copyright {
            .stamp {
                font-family: slogan;
            }
        }
        .made-in-sofia {
            margin-top: 5px;
            .love {
                color: $alt-color;
                /*color: #F27490;*/
            }
        }
    }
}