/* ========================================================

    Created on : Sep 3, 2014, 1:32:51 PM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)

======================================================== */

.header {
    background-color: #000000;
    background-color: rgba(0,0,0, 0.75);
    padding: 12px 0;
    @include clearfix;
    .logo {
        float: left;
        color: #ffffff;
        text-decoration: none;
        font-size: 28px;
        font-family: aboree;
        line-height: 1em;
        text-indent: -100000px;
        @include inline-block;
        @include sprites('logo9');
        &.logged {
            margin-top: 0px;
        }
        &.not-logged {
            margin-top: 0px;
        }
    }
    .soundcloud {
        float: right;
        cursor: pointer;
        @include sprites('btn-connect-m');
    }
    .open-account {
        display: none;
        float: right;
        cursor: pointer;
        color: $white-color;
        font-size: 18px;
        padding: 5px 15px;
        background-color: #d84b12;
        line-height: 1em;
        @include background-image(linear-gradient(#fb8112, #ff3801));
        @include border-radius(3px);
        @include user-select(none);
        @include transition-property(all);
        @include transition-duration(2s);
        @include transition-timing-function(linear);
        .icon {
            margin-top: 3px;
            margin-right: 7px;
            display: block;
            float: left;
            @include sprites('circle_icon');
        }
        &:hover {
            @include background-image(linear-gradient(darken(#fb8112, 5%), darken(#ff3801, 5%)));
        }
    }
    .user-nav {
        display: block;
        float: right;
        color: $white-color;
        @include clearfix;
        .user {
            float: left;
            color: $white-color;
            .icon {
                margin: 2px 10px 0;
                font-size: 25px;
            }
            &.profile {
                margin: 0 10px;
                @include clearfix;
                .profile-image,
                .name {
                    float: left;
                }
                .profile-image {
                    border: 1px solid #000;
                    font-size: 18px;
                    @include border-radius(20px);
                    img {
                        display: block;
                    }
                }
                .name {
                    margin-top: 8px;
                    margin-left: 5px;
                    font-family: aboree;
                }
            }
            &.settings {
                .icon {
                    margin-right: 0;
                }
            }
        }
    }
}