/*
    Document   : _login-page
    Created on : Sep 18, 2014, 1:53:18 PM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)
    Description:
    Purpose of the stylesheet follows.
*/
.form-block {
    .form {
        .input-field {
            float: left;
            .input {
                &.username {
                    @include border-radius(5px 0 0 0);
                }
                &.password {
                    @include border-radius(0 5px 0 0);
                }
            }
            .textarea {
               &:focus {
                    @include box-shadow(#aaa 0 0 3px 1px inset);
                } 
            }
            .errorMessage {
                color: darken(#F27490, 30%);
                margin-left: 2px;
            }
        }
        .hint {
            margin-top: 20px;
            text-align: center;
            font-family: monospace;
            kbd {
                background-color: transparent;
                color: #333;
                font-weight: bold;
                @include box-shadow(none);
            }
        }
        .rememberMe {
            margin-top: 12px;
            margin-left: 20px;
            line-height: 1em;
            float: left;
        }
        .login-button {
            display: block;
            float: left;
            @include button();
            @include border-radius(0);
            background: none;
            color: $alt-color;
            text-shadow: none;
            padding: 0;
            font-size: 28px;
            border: none;
            margin-top: 10px;
            &:hover {
                background: none;
                @include box-shadow(none);
            }
        }
        .date-of-birth {
            margin: 15px 0;
            @include clearfix;
            .dob {
                margin-bottom: 5px;
                display: block;
                text-align: left;
            }
            select {
                width: 202px;
                padding: 7px 10px;
                color: #898989;
            }
        }
        .gender {
            float: left;
            @include clearfix;
            .sex {
                display: block;
                margin-bottom: 5px;
                text-align: left;
            }
            .male,
            .female {
                float: left;
                margin-right: 15px;
                label {
                    font-size: 16px;
                    line-height: 1em;
                }
            }
        }
        .sign-up.button {
            margin-top: 18px;
            float: right;
        }
    }
}
.login-separator {
    text-align: center;
    text-transform: lowercase;
    background-image: url('../storage/images/sep.png');
    background-repeat: repeat-x;
    background-position: left 7px;
    height: 16px;
    span {
        border: 1px solid #8c8c8c;
        background-color: #ffffff;
        padding: 2px 10px;
        line-height: 1em;
    }
}
.social-media-login {
    margin: 15px 0;
    text-align: center;
    @include clearfix;
    .soundcloud,
    .facebook,
    .twitter {
        border: 1px solid lighten(#000, 55%);
        padding-right: 10px;
        padding-left: 10px;
        margin: 0 5px;
        @include border-radius(5px);
        @include inline-block;
        @include clearfix;
        .icon,
        .social-media-login-text {
            float: left;
            display: block;
        }
        .icon {
            margin-right: 5px;
        }
        .social-media-login-text {
            margin-top: 12px;
        }
    }
    .facebook {
        .icon {
            @include sprites('facebook');
        }
    }
    .twitter {
        .icon {
            @include sprites('twitter');
        }
    }
    .soundcloud {
        .icon {
            @include sprites('soundcloud_login_icon');
        }
    }
}
.agreement {
    text-align: center;
    margin-bottom: 20px;
}
.form-block-footer {
    margin-bottom: -20px;
    margin-left: -25px;
    margin-right: -25px;
    border-top: 1px solid lighten(#bbb, 5%);
    background-color: rgba(lighten($button-background, 55%), 0.6);
    padding: 10px 5px;
    text-align: center;
    @include border-radius(0 0 5px 5px);
    a {
        color: darken($anchor-color, 15%);
        &:hover {
            color: darken($anchor-color, 40%);
        }
    }
}