/*
    Document   : modalpage
    Created on : Sep 18, 2014, 1:28:23 PM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)
    Description:
    Purpose of the stylesheet follows.
*/

.modal-page {
    .modal-wrapper {
        margin-top: 12%;
        text-align: center;
        .title {
            color: #fff;
            @include text-shadow(0px 1px 3px rgba(0,0,0, 0.8));
            &.main,
            &.sub {
                background-color: rgba(0,0,0, 0.6);
                padding: 15px 35px;
                @include inline-block;
            }
            &.main {
                font-size: 70px;
                font-family: aboree;
                margin-bottom: 10px;
            }
            &.sub {
                font-size: 50px;
                font-family: aboree;
                word-spacing: -10px;
                margin-top: 0;
            }
        }
    }
    .front-containter {
        border-bottom: 5px solid $alt-color;
    }
    #content {
        margin: 20px 0;
        border: 1px solid lighten(#999, 30%);
        padding: 20px 25px;
        @include border-radius(5px);
        @include box-shadow($page-box-shadow-color 0 0 5px 0);
    }
    #footer {
        border-top: 0;
        padding-top: 0;
    }
}