/*
    Document   : style
    Created on : Sep 26, 2012, 11:23:23 PM
    Author     : trimmedon
    Description:
    Purpose of the stylesheet follows.
*/
body {
    * {
        @include selection($alt-color, #fff);
    }
    height: 100%;
    .main-wrapper {
        .we-use-cookies {
            background-color: lighten(#000, 30%);
            padding: 10px;
            color: #fff;
            text-align: center;
            @include clearfix;
            .cookie-notice {
                display: block;
                @include inline-block;
                p {
                    margin: 0;
                    a {
                        color: $alt-color;
                    }
                }
            }
            .close-notice {
                float: right;
                span {
                    cursor: pointer;
                }
            }
            &.hide {
                display: none;
            }
        }
        .show-menu-button {
            position: absolute;
            top: 7px;
            right: 10px;
            z-index: 9999;
            cursor: pointer;
            padding: 5px 10px;
            background-color: $button-background;
            border: 1px solid $button-background;
            @include border-radius(3px);
            @include clearfix;
            .label {
                float: left;
                margin-right: 5px;
                padding: 0;
                font-size: 17px;
                font-family: aboree;
                color: $white-color;
                /*@include box-shadow(0 0px 3px 2px lighten(rgba($button-background, 0.8), 10%));*/
            }
            .icon {
                float: left;
                display: block;
                &.open {
                    @include sprites('menu');
                }
                &.close-menu {
                    font-size: 17px;
                    width: 16px;
                    color: $white-color;
                }
            }
        }
        .age-limit {
            position: absolute;
            top: 5px;
            left: 10px;
            font-family: aboree;
            font-size: 21px;
            color: #fff;
            background-color: darken(#f00, 15%);
            z-index: 99999;
            padding: 14px 10px;
            border: 2px solid #fff;
            line-height: 1em;
            @include border-radius(27px);
        }
        .front-containter {
            position: relative;
            width: 100%;
            height: 100%;
            @include clearfix;
            .image-wrapper {
                .main-image {
                    width: 100%;
                }
            }
            .dots {
                top: 0;
                right: 0;
                left: 0;
                position: absolute;
                background: url('../storage/images/sprites/dots.png') repeat;
                height: 100%;
            }
        }
        .head-raw {
            margin-top: -10px;
            margin-bottom: 15px;
        }
        .button {
            @include button();
            @include inline-block;
            @include border-radius(0 10px);
            padding-right: 30px;
            padding-left: 30px;
            &.sign-up {
                ul {
                    margin-top: 0;
                    margin-bottom: 0;
                    li {
                        margin-top: 0;
                        margin-bottom: 0;
                        list-style: none;
                        a {
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        .reset-button {
            @include reset-button();
        }
        .note {
            font-style: italic;
        }
        .input-field {
            .input,
            .textarea {
                @include input-field();
            }
        }
        a {
            text-decoration: none;
        }
    }
}