/*
Document   : _variables
Created on : 21/02/2013, 11:36:13 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/

$main-background-color: #021005;

$button-background: #191919;

$body-color: lighten(#000, 25%);

$white-color: #ffffff;

$anchor-color: #999999;
$anchor-color-hover: darken(#999, 40%);

$page-box-shadow-color: rgba(lighten($anchor-color, 10%), 0.5);

/* control button */
    $control-button-color-top: darken($white-color, 6%);
    $control-button-color-bottom: darken($control-button-color-top, 10%);
/* control button */

$alt-color: darken(#F07746, 15%);