/* 
    Created on : Nov 26, 2014, 9:20:35 PM
    Author     : iam3fun
*/

.profile-page {
    @include clearfix;
    .sidebar-wrapper {
        float: left;
        width: 20%;
        height: 100%;
        margin-right: 40px;
        .sidebar {
            height: 100%;
            color: $body-color;
            background-color: rgba(lighten(#000, 4%), 0.7);
            .logo {
                background: lighten(#000, 4%);
                padding: 10px 15px;
                line-height: 1.2em;
                display: block;
                color: $white-color;
                font-size: 25px;
                font-family: aboree;
                text-decoration: none;
                .app-name {
                    line-height: 1em;
                    display: block;
                }
            }
            .main-menu {
                padding: 10px;
                ul {
                    margin: 0;
                    li {
                        list-style: none;
                        margin: 10px 0;
                        a {
                            padding: 3px 15px;
                            font-size: 23px;
                            line-height: 1.2em;
                            background-color: $button-background;
                            font-family: slogan;
                            @include transition-property(color);
                            @include transition-duration(0.3s);
                            @include inline-block;
                            &:hover {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
        &.its-visible {
            visibility: visible;
        }
        &.its-hidden {
            visibility: hidden;
        }
    }
    .profile-content-wrapper {
        width: 60%;
        float: left;
        .profile-content {
            margin-top: 35%;
            text-align: center;
            .main-cotrols {
                @include inline-block;
                .control-button {
                    float: left;
                    font-size: 18px;
                    font-family: aboree;
                    line-height: 1.2em;
                    cursor: pointer;
                    padding: 10px 30px 7px;
                    color: $control-button-color-bottom;
                    background-color: darken($anchor-color, 50%);
                    @include box-shadow(0px 0px 10px 0px rgba(darken($anchor-color, 60%), 0.8));
                    @include border-radius(3px);
                    @include transition(background-color .3s, color .3s, box-shadow .3s);
                    &:hover {
                        color: darken($anchor-color, 40%);
                        background-color: $control-button-color-bottom;
                        @include box-shadow(0px 0px 10px 0px rgba($control-button-color-bottom, 0.5));
                    }
                }
                .check-mates {
                    margin-right: 15px;
                }
                .last-night {
                    margin-left: 15px;
                }
            }
            .notice {
                font-family: slogan;
                font-size: 35px;
                color: $white-color;
                font-weight: 700;
            }
        }
    }
}