/*
    Document   : carrers
    Created on : Sep 9, 2014, 11:34:44 AM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)
    Description:
    Purpose of the stylesheet follows.
*/

.carrers {
    .head {
        h1 {
            margin-bottom: 5px;
        }
        h4 {
            margin-top: 0;
        }
    }
    .job-position {
        .job-title {
            h3 {
                margin-top: 0;
            }
        }
        .job-description {
            
        }
    }
}