/*
    Document   : _feedback-page
    Created on : Sep 18, 2014, 10:26:12 AM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)
    Description:
    Purpose of the stylesheet follows.
*/

.feedback-page {
    #content {
        text-align: center;
        p {
            margin-top: 0;
        }
        .form-block {
            @include inline-block;
            p {
                margin: 10px 0;
            }
            .form {
                .note {
                    text-align: left;
                }
                .input-field {
                    text-align: left;
                    margin-bottom: 15px;
                    .input {
                        &.email {
                            @include border-radius(0 0 6px 0);
                        }
                        &.subject {
                            margin-right: 0;
                            width: 433px;
                        }
                        &.captcha-field {
                            margin: 0 10px;
                        }
                    }
                    .textarea {
                        width: 433px;
                    }
                }
                .captcha-form {
                    width: 420px;
                    @include clearfix;
                    label {
                        display: block;
                        margin-bottom: 10px;
                        text-align: left;
                    }
                    img {
                        display: block;
                        float: left;
                        width: 80px;
                        margin-top: 3px;
                    }
                    a {
                        display: block;
                        float: right;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}