/*
    Document   : home
    Created on : Sep 18, 2014, 2:10:39 PM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)
    Description:
    Purpose of the stylesheet follows.
*/

.home-page {
    .front-containter {
        .dots {
            .home-wrapper {
                text-align: center;
                display: block;
                margin-top: 12%;
                font-family: aboree;
                color: #FFFFFF;
                &.show {
                    display: block;
                }
                .welcome {
                    margin-bottom: 50px;
                    color: $alt-color;
                    /*@include text-shadow(1px 1px 3px rgba(0,0,0, 1));*/
                    .welcome-notice {
                        font-size: 70px;
                        font-weight: 700;
                        display: block;
                        margin-bottom: 10px;
                    }
                    .welcome-slogan {
                        font-size: 45px;
                        font-family: slogan;
                        letter-spacing: -3px;
                        margin-left: 13px;
                    }
                }
                .user-wrapper {
                    .form-block {
                        .form {
                            @include clearfix;
                            @include inline-block;
                            .input-field {
                                float: left;
                                text-align: left;
                                .input {
                                    background: none;
                                    border: none;
                                    font-size: 22px;
                                    color: $alt-color;
                                    border-bottom: 2px solid $alt-color;
                                    padding-left: 1px;
                                    padding-bottom: 5px;
                                    margin-bottom: 3px;
                                    @include box-shadow(none);
                                    &:-webkit-autofill {
                                        background: none !important;
                                        background-color: transparent !important;
                                    }
                                }
                                .username-field,
                                .password-field {
                                    float: left;
                                    width: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
