/*
    Document   : login
    Created on : Sep 18, 2014, 3:38:48 PM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)
    Description:
    Purpose of the stylesheet follows.
*/

.login-page {
    #content {
        text-align: center;
        p {
            margin: 0;
        }
        .form-block {
            margin-bottom: 15px;
            p {
                margin: 10px 0;
            }
           .form {
               @include inline-block;
                .input-field {
                    text-align: left;
                    .input {
                        width: 255px;
                        &.password {
                            margin-right: 0;
                        }
                    }
                }
                .rememberMe {
                    margin-left: 0;
                    input {
                        display: block;
                        float: left;
                        margin-right: 5px;
                        margin-top: 0;
                    }
                }
                .login-button {
                    float: right;
                    font-size: 21px;
                }
            } 
        }
    }
}
