/*
    Document   : _register
    Created on : Sep 9, 2014, 1:43:56 PM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)
    Description:
    Purpose of the stylesheet follows.
*/

.register-page {
    .header {
        background: none;
    }
    #content {
        text-align: center;
        p {
            margin: 0;
        }
        .form-block {
            p {
                margin: 10px 0;
            }
            .form {
                margin-bottom: 10px;
                @include inline-block;
                .input-field {
                    text-align: left;
                    .input {
                        width: 202px;
                        &.password {
                            @include border-radius(0);
                        }
                        &.email {
                            margin-right: 0;
                            @include border-radius(0 0 10px 0);
                        }
                    }
                }
                .gender {
                    width: 202px;
                    margin: 15px 10px 15px 0;
                }
                .captcha {
                    float: left;
                    margin: 15px 10px 15px 0;
                    img {
                        float: left;
                        width: 82px;
                        @include inline-block;
                    }
                    .captcha-field {
                        @include input-field();
                        @include border-radius(0 10px);
                        float: right;
                        margin-right: 0;
                        width: 120px;
                        padding: 7px 10px;
                    }
                    &.error {
                        .errorMessage {
                            font-size: 13px;
                            margin-left: 0;
                            text-align: left;
                            color: darken(#f00, 15%);
                        }
                    }
                }
                .sign-up {
                    min-width: 202px;
                    margin: 15px auto;
                }
                .date-of-birth {
                    .year {
                        margin-right: 0;
                    }
                }
                .errorSummary {
                    color: darken(#f00, 15%);
                    p {
                        font-weight: bold;
                    }
                }
             } 
        }
        .closed-registrations {
            margin: 35px 0;
            font-family: aboree;
            font-size: 18px;
            color: darken(#f00, 15%);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}