/*
    Document   : _static
    Created on : Sep 18, 2014, 10:27:10 AM
    Author     : Krasimir Zlatev (krasi@diomondoracle.com)
    Description:
    Purpose of the stylesheet follows.
*/

.static-page {
    .header {
        background-color: #000000;
        background-color: rgba(0,0,0, 1);
        .open-account {
            background-color: lighten($button-background, 15%);
        }
    }
    .breadcrumbs {
        margin: 15px 0;
        color: $anchor-color-hover;
        text-transform: lowercase;
        a {
            text-transform: lowercase;
        }
    }
    .body-wrapper {
        border: 1px solid lighten(#999, 30%);
        padding: 20px 25px;
        @include border-radius(5px);
        @include box-shadow($page-box-shadow-color 0 0 5px 0);
        #content {
            .body-content {
                .input-field {
                    .input,
                    .textarea {
                        &:focus {
                            @include box-shadow($page-box-shadow-color 0 0 5px 0, #aaa 0 0 3px 1px inset);
                        }
                    }
                }
            }
            .youtube-video {
                iframe {
                    width: 100%;
                    height: 615px;
                }
            }
        }
    }
    #footer {
        margin-top: 20px;
    }
}